# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/PiSec/.idea/
/PiSec/target/

.idea/

.DS_Store
PiSec.iml
