#alertsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 10vw;
}

.alert {
    display: flex;
    justify-content: space-between;
}

.alert button {
    padding:10px;
    border: none;
    border-radius: 25%;
}