.cameraHeader{
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    margin-left: 25px;
    margin-bottom: 30px;

    gap: 25px;
}
.arrow_back{
    font-size: 40px !important;
    cursor: pointer;
    transition: background-color 250ms;
    border-radius: 50%;
}
.arrow_back:hover{
    background-color: #6c737e6b;
}

#contentContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1.5vw;
    /* width: calc(100vw - 20px); */
    gap: 20px;
}

#cameraContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#disable {

    color: #7393A7;
    text-decoration-line: underline;
    font-size: 1.5rem;
    margin-left: 25px;
    margin-top: 10px;
}

#cameraDisableBtn{
    cursor: pointer;
    margin-top: 2vw;
    margin-left: 1.5vw;
    padding: 5px 15px;


    width: 21vw;
    border-radius: 20px;
    font-size: 3vw;

    color: black;
    background-color: #a7bdcb;
    transition: background-color 250ms;

}
#cameraDisableBtn:hover {
    background-color: #7393A7;
}

#camera img {
    max-width: 55vw;
    max-height: 40vw;
    width: 1080px;
    /*height: 300px;*/
    border-radius: 15px;
    background-size: cover;
    box-shadow: 2px 5px 5px -1px black;
}
@media (max-width: 800px) {
    #contentContainer{

    }
    #camera img {
        max-width: 90vw;
    }
}


#camera > .loading{
    width: 60vw;
    height: 30vw;
    overflow: hidden;
    background: #ffffff;
    background: -webkit-linear-gradient(142deg, #ffffff 0%, #dddddd 50%, #ffffff 100%);
    background: linear-gradient(142deg, #ffffff 0%, #dddddd 50%, #ffffff 100%);
      background-size: 500%, 500%;

    animation: loadingAnimation 2s infinite ease-in-out;
    box-shadow: 1px 2px 5px 2px black;
}
@keyframes loadingAnimation {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

/* ----- Notifications ----- */
.notificationContainer {
    /*width: 20vw;*/
    display: flex;
    flex-direction: column;
    min-height: 150px;

    box-shadow: 2px 5px 5px -1px black;
}
.notificationHeader{
    font-weight: bold;
    font-size: min(3vw, 35px);

    box-shadow: 0 3px 5px -2px black;
    padding: 3px 12px;
    z-index: 2;
}
.notificationsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cameraNotification {
    display: flex;
    flex-direction: column;

    padding: 10px 12px 5px;
    cursor: pointer;
}
.cameraNotification:hover{
    box-shadow: 0 3px 5px -2px black;
    background: #eaeaea;
}

.cameraNotification button {
    background: rgba(181, 207, 216, 0.75);
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
}

.cameraNotificationInfo {
    display: flex;
    justify-content: space-between;
}

.cameraNotificationInfo {
    font-size: 2rem;
}

.cameraNotificationDate {
    font-weight: bold;
    font-size: min(2.5vw, 25px);
}

.cameraNotificationTime {
    font-family: Spectral, serif;
    font-weight: lighter;
    color: #6C737E;
    font-size: min(2.5vw, 25px);
}

.importantNoti{
    color: red;
}