* {
    margin: 0;
    padding: 0;
    font-family: Karla, Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Nav bar */
.navBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 90px;
    width: 100vw;
    margin-bottom: 25px;
    background-color: rgb(72, 77, 92);

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    z-index: 10;

    -webkit-box-shadow: 3px 3px 10px 3px #272727;
    -moz-box-shadow: 3px 3px 10px 3px #272727;
    box-shadow: 3px 3px 10px 3px #272727;
}
.leftNavBar{
    flex: 1 0 auto;
    height: 90px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightNavBar{
    display: flex;

    flex-direction: column;
    justify-content: center;

    margin: 0 min(30px, 3vw);
    height: 90px;    
}
.navProfilePicture{
    height: 60px;
}

.navItem{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 10px;

    transition: transform 500ms, box-shadow 500ms;
}
.navItem:hover{
    transform: translateY(-4px);
    box-shadow: 3px 3px 8px 1px #000000;
}
.navItemTitle{
    color: white;
    font-weight: bold;
    font-size: min(5vw, 1.5rem);
}
.navItemSubTitle{
    color: white;
    font-size: min(3vw, 1rem);
}
.navLogo{
    cursor: pointer;
    margin-left: 15px;
}
.navLogoTitle{
    font-size: min(7vw, 2.5rem);
}
.navLogoPi{
    font-family: 'Arial', 'Britannic Bold';
    font-size: min(10vw, 4rem);
}

@media (max-width: 600px) {
    .hiddenOnMobile{
        display: none;
    }
    .leftNavBar{
        justify-content: space-evenly;
    }
}
/* Notification */
#notifications{
    position: absolute;
    z-index: 100;
    width: min(500px, 80vw);
    top: 20px;
    left: calc(50vw - min(500px, 80vw)/2);
    display: flex;
    gap: 5px;
    flex-direction: column;
    max-height: 50vh;

    /* background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red); */
    background-clip: content-box;
}
.notification{
    width: 100%;
    height: 35px;
    background-color: rgba(0, 128, 0, 0.8);

    border-radius: 20px;
    box-shadow: 1px 5px 5px 0 rgb(61, 61, 61);

    display: flex;
    align-items: center;
    padding: 5px 10px;

    opacity: 1;

    transition: opacity 200ms;
}
.notifiError{
    background-color: rgba(255, 0, 0, 0.8);
}
.notification > span{
    font-size: 20px;
    cursor: pointer;
    color: rgb(57, 57, 57);
    transition: color 500ms;
}
.notification > span:hover{
    color: black;
}
.notification > .notificationContent{
    flex: 1 0 auto;
    margin-left: 5px;
    color: black;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}